
body {
    background-color: burlywood;
}

img {
    height: 500px;
    width: 500px;
}

#txt1 {
    display: flex;
    font-size: 40px;
}

#txt2 {
    display: flex;
    font-size: 40px;
}

#txt3 {
    display: flex;
    font-size: 40px;
}

p {
    background-color: lightgreen;
    color: brown;
}