body {
    background-color: burlywood;
}

nav {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }

   
a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    font-family: sans-serif;
    color: brown;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    font-family: serif;
    color: black;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    font-family: sans-serif;
    color: palevioletred;
}

p {
    font-size: 1.5em;
    font-weight: 400;
    font-family: sans-serif;
    color: brown;
}

footer {
    background-color: lightgreen;
    text-align: center;
}

.ladalle {
    align-items: center;
}